#   TEMP PATH DIRECTORY

##  WINDOWS
# TEMP_PATH_DIRECTORY="app\\temp"

##  UBUNTU
TEMP_PATH_DIRECTORY="temp"

#----------------------------------------

#   CREDENTIALS

SECRET_KEY="_YOUR_SECRET_KEY_"
ID_PAYLOAD_JWT="_YOUR_ID_PAYLOAD_JWT_"
SUB_PAYLOAD_JWT="_YOUR_SUB_PAYLOAD_JWT_"
ALGORITHM="_YOUR_ALGORITHM_JWT_TOKEN_"

#   ¡IMPORANT!
#   YOU MUST TO GENERATE A JWT KEY TO 

#   You can generate it using https://www.jwt.io/.

#       1. HEADER: DON'T TOUCH IT
#       2. PAYLOAD: Must be something like that:
#       {
#           "id": "...",
#           "sub": "..."
#       }

#   To generate the 'id' and 'sub' fields value a
#   create a password with the maximun lenght in
#   https://www.lastpass.com/es/features/password-generator
#   and you have it.

#   ¡JOIN IT!